NODE_ENV=production
MONGODB_DB_NAME=intranet
MONGODB_URI=mongodb+srv://nguyenanhduyit01:qJDIwW3sbClVOfiR@user-logs.fird3.mongodb.net/?retryWrites=true&w=majority&appName=user-logs
JWT_SECRET=abcxyz123456
PORT=7891
HOST_HIKVISION=https://192.168.1.2/
HIKVISION_USERNAME=admin
HIKVISION_PASSWORD=Admin1234
TIMEZONE='Asia/Singapore'

MQTT_HOST=
MQTT_PORT=
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC_DELETE_USER=

HOST_SERVER=http://localhost:7891
TIMEZONE='Asia/Ho_Chi_Minh'
WAREHOUSE_API_URL=http://127.0.0.1:8000
WAREHOUSE_SSO_SECRET=your-shared-secret

REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_PASSWORD = 
