NODE_ENV=production
MONGODB_DB_NAME=intranet
MONGODB_URI=mongodb+srv://nguyenanhduyit01:qJDIwW3sbClVOfiR@user-logs.fird3.mongodb.net/?retryWrites=true&w=majority&appName=user-logs
JWT_SECRET=abcxyz123456
PORT=7891
HOST_HIKVISION=https://192.168.1.2/
HIKVISION_USERNAME=admin
HIKVISION_PASSWORD=Admin1234
HOST_SERVER=http://localhost:7891